[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
astroid = "*"
autopep8 = "*"
click = "*"
Flask = "*"
isort = "*"
itsdangerous = "*"
Jinja2 = "*"
lazy-object-proxy = "*"
MarkupSafe = "*"
mccabe = "*"
pycodestyle = "*"
pylint = "*"
six = "*"
toml = "*"
Werkzeug = "*"
wrapt = "*"
flask-mysqldb = "==0.2.0"
python-decouple = "*"
python-dotenv = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
