{% extends "template.html" %}
{% block conteudo %}


<a class="btn btn-success" href="{{ url_for('novo') }}">Novo Jogo</a>

<table class="table table-striped table-responsive table-bordered table-condensed">
  <thead class="thead-default">
    <tr>
      <th class="text-center">#</th>
      <th>Nome</th>
      <th class="text-center">Categoria</th>
      <th class="text-center">Console</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for jogo in jogos %}
    <tr>
      <td class="text-center"><b>{{ jogo.id }}</b></td>
      <td class="text-left">{{ jogo.nome }}</td>
      <td class="text-center">{{ jogo.categoria }}</td>
      <td class="text-center">{{ jogo.console }}</td>
      <td class="text-center">
        <a class="btn btn-warning" href="{{ url_for('editar', id=jogo.id) }}">Editar</a>
        <a class="btn btn-danger" href="{{ url_for('deletar', id=jogo.id) }}">Deletar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}